<div class="container">
  <h2 class="mt-2">新規会員登録</h2>
  <div class="row">
    <%= render "customers/shared/error_messages", resource: resource %>
    <table class="table table-borderless col-md-10">
      <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
        <tr>
          <td><%= f.label :名前 %></td>
          <td>(姓)</td>
          <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
          <td>(名)</td>
          <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
        </tr>
        <tr>
          <td><%= f.label :フリガナ %></td>
          <td>(セイ)</td>
          <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></td>
          <td>(メイ)</td>
          <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
        </tr>
        <tr>
          <td><%= f.label :住所 %></td>
          <td></td>
          <td colspan="3"><%= f.text_field :address, autofocus: true, autocomplete: "address", size: "70" %></td>
        </tr>
        <tr>
          <td>電話番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.telephone_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></td>
        </tr>
        <tr>
          <td>
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </td>
          <td></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td>パスワード(確認用)</td>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= f.submit "新規登録", class:"btn btn-create" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <h4>既に登録済みの方</h4>
  <div class="row mt-3 ml-4">
    <p><%= render "customers/shared/links" %></p>
  </div>
</div>