<div class="container">
  <div class="row">
    <h2>ジャンル一覧・追加</h2>
  </div>

  <div class="row">
     <tbody>
      <tr>
        <td><%= f.label :name, "ジャンル名" %></td>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit "新規登録", class: "btn btn-create" %></td>
      </tr>
     </tbody>
    </table>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">
    <table class="table">
      <tr>
        <th>ジャンル</th>
        <th></th>
      </tr>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admins_genre_path(genre.id), class:"btn btn-create" %></td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>