<h4 class="heading"><%= @customer.last_name<< @customer.first_name %>さんの詳細</h4>

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1"></div>
      <table class="table">
          <tr>
              <td>会員ID</td>
              <td><%= @customer.id %></td>
          </tr>
          <tr>
              <td>氏名</td>
              <td><%= @customer.last_name %></td>
          </tr>
          <tr>
              <td>フリガナ</td>
              <td><%= @customer.last_name_kana + @customer.first_name_kana %></td>
          </tr>
          <tr>
              <td>郵便番号</td>
              <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
              <td>電話番号</td>
              <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
              <td>住所</td>
              <td><%= @customer.address%></td>
          </tr>
          <tr>
              <td>メールアドレス</td>
              <td><%= @customer.email %></td>
          </tr>
          <tr>
              <td>会員ステータス</td>
              <td>
                   <% if @customer.is_deleted == true %>
                   <%= "退会済み" %>
                 <% else %>
                   <%= "有効" %>
                 <% end %>
              </td>          
        　</tr>
        　<!--「編集する」リンクを追加-->
        　<!--「注文履歴一覧を見る」リンクを追加-->
      </table>
    </div>
</div>

