<h1 class = "text-center p-3 mb-2"><i class="far fa-id-card"></i>&nbsp;&nbsp;マイページ</h1>
<div class = "container">
    <div class = "row">
      <div class = "col-md-1">
        </div>
      <div class = "col-md-10">
    　  <div class = "row">
         <!--<h3 class = "text-center col-md-3 shadow-lg bg-white rounded">会員情報&nbsp;&nbsp;<i class="fas fa-pen-square"></i></h3>-->
          <div class = "col-md-9">
            <%= link_to edit_customers_path, class: "btn btn-info mb-2", "data-turbolinks": false do %>
            <i class = "fas fa-wrench"></i>&nbsp;&nbsp;会員情報編集はこちら！
            <% end %>
          </div>
        </div>
      <table class = "table text-center">
        <thead>
          <tr>
            <th class = "table-active">氏名</th>
            <th><%= @customer.last_name %></th>
            <th><%= @customer.first_name %></th>
          </tr>
          <tr>
            <th class = "table-active">カナ</th>
            <th><%= @customer.last_name_kana %></th>
            <th><%= @customer.first_name_kana %></th>
          </tr>
          <tr>
            <th class = "table-active">郵便番号</th>
            <th colspan = "2"><%= @customer.postal_code %></th>
          </tr>
          <tr>
            <th class = "table-active">住所</th>
            <th colspan = "2"><%= @customer.address %></th>
          </tr>
          <tr>
            <th class = "table-active">電話番号</th>
            <th colspan = "2"><%= @customer.telephone_number %></th>
          </tr>
          <tr>
            <th class = "table-active">メールアドレス</th>
            <th colspan = "2"><%= @customer.email %></th>
          </tr>
        </thead>
      </table>
      </div>
    <div class = "col-md-3">
    </div>
    <div class = "col-md-3 text-center" >
      <!--<h3 class = "shadow-lg bg-white rounded"><i class="fas fa-gift "></i>&nbsp;&nbsp;配送先一覧</h3>-->
        <%= link_to  addresses_path, class: "btn btn-success col-md-12" do %>
        <i class="fas fa-address-book"></i>配送先一覧はこちら！
        <% end %>
    </div>
    <div class = "col-md-4 text-center">
      <!--<h3 class = "shadow-lg bg-white rounded"><i class="fas fa-file"></i>&nbsp;&nbsp;注文履歴一覧はこちら！</h3>-->
        <%= link_to  orders_path, class: "btn btn-success col-md-12" do %>
        <i class="fas fa-cheese"></i>注文履歴一覧はこちら！
        <% end %>
    </div>
    <div class = "col-md-4">
    </div>
    <div class = "col-md-1">
    </div>
  </div>
  <br>
  <div>