<div class = "container">
  <h2>注文情報確認</h2>

  <ol class = "nav">
    <li>1.入力</li>
    <li class = "current">2.確認</li>
    <li>3.完了</li>
  </ol>
  <div class = "row">
    <div class = "col-md-8" >
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <!--<th colspan="3"></th>-->
          </tr>
        </thead>
        <tbody>
        <% @order.each do |order| %>
          <tr>
            <td><%= attachment_image_tag order.item, :image,:fill,50,50,format: "jpeg",fallback: "no_image.jpg",size: "50x50" %></td>
            <td><%= order.cart_item.tannka %></td>
            <td><%= order.cart_item.quantity %></td>
            <td><%= order.cart_item.item.syoukei %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class = "col-md-2 offset-md-1 " >
      <table class='table table-bordered'>
        <tbody>
          <tr>
            <td>送料</td>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr>
            <td>商品合計</td>
            <td><%= @order.total_price %>円</td>
          </tr>
          <tr>
            <td>請求金額</td>
            <td><%= @order.total_payment %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = "mt-2 mb-2">
    <p class = "lead font-bold">支払方法</p>
    <%= @order.payment_method %>
  </div>
  <div class = "mb-2">
    <p class = "lead font-bold">お届け先</p>
    〒<%= @order.postal_code %>
    <%= @order.address %><br>
    <%= @order.name %>
  </div>
  <%= form_with @order,url: "orders_confirm_path",method: :post,local: true do |f| %>
    <%= f.submit "注文を確定する",class:"btn btn-primary" %>
  <% end %>
</div>













