<div class = "container">
  <div class = "row">
    <div class = "mx-auto" style = "width: 800px;">
      <h2>注文情報確認</h2>
      <div class = "mb-4">
        <ol class = "nav">
          <li class = "d-inline-block bg-light text-center mr-2" style="width: 100px;">1.入力</li>
          <li class = "current d-inline-block bg-info text-center mr-2" style="width: 100px;">2.確認</li>
          <li class = "d-inline-block bg-light text-center" style="width: 100px;">3.完了</li>
        </ol>
      </div>
      <div class = "row">
        <div class = "col-md-8" >
          <table class='table table-bordered'>
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
                <!--<th colspan="3"></th>-->
              </tr>
            </thead>
            <tbody>
            <% current_customer.cart_items.each do |cart_item| %>
              <tr>
                <td><%= attachment_image_tag cart_item.item, :image,:fill,50,50,format: "jpeg",fallback: "no_image.jpg",size: "50x50" %></td>
                <td><%= cart_item.tannka.floor %>円</td>
                <td><%= cart_item.amount %></td>
                <td><%= cart_item.syoukei %>円</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

        <div class = "col-md-3 offset-md-1 " >
          <table class='table table-bordered'>
            <tbody>
              <tr>
                <td>送料</td>
                <td><%= @order.shipping %>円</td>
              </tr>
              <tr>
                <td>商品合計</td>
                <td><%= current_customer.total_price %>円</td>
              </tr>
              <tr>
                <td>請求金額</td>
                <td><%= @order.shipping + current_customer.total_price %>円</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class = "mt-2 mb-2 d-flex">
        <p class = "lead font-weight-bold mr-3">支払方法</p>
        <%= @order.payment_method %>
      </div>
      <div class = "mb-2 d-flex">
        <p class = "lead font-weight-bold mr-3">お届け先</p>
        〒<%= @order.postal_code %>
        <%= @order.address %><br>
        <%= @order.name %>
      </div>
      <%= form_with model: @order,url: orders_path,method: :post,local: true do |f| %>
        <%= f.hidden_field :payment_method,:value => @order.payment_method %>
        <%= f.hidden_field :postal_code,:value => @order.postal_code %>
        <%= f.hidden_field :address,:value => @order.address %>
        <%= f.hidden_field :name,:value => @order.name %>
        <%= f.hidden_field :shipping,:value => @order.shipping %>
        <%= f.hidden_field :total_payment,:value => @order.shipping + current_customer.total_price %>
        <!--ステータスはコントローラで定義して送る-->
        <%= f.submit "注文を確定する",class:"btn btn-create" %>
      <% end %>
    </div>
  </div>
</div>













