<div class = "container">
  <div class = "row">
    <div class = "mx-auto" style = "width: 500px;">
      <div class = "mb-4">
      <h2>注文情報入力</h2>
        <ol class = "nav">
          <li class = "current d-inline-block bg-info text-center mr-2" style="width: 100px;">1.入力</li>
          <li class = "d-inline-block bg-light text-center mr-2" style="width: 100px;">2.確認</li>
          <li class = "d-inline-block bg-light text-center" style="width: 100px;">3.完了</li>
        </ol>
      </div>

      <%= form_with model: @order,url: confirm_orders_path,method: :post ,local: true do |f| %>
        <%= f.label :payment_method,"支払方法",class: "font-weight-bold" %><br>

        <%= f.radio_button :payment_method, :クレジットカード,checked: "checked" %> <!--選択されたときにpayment_methodに0が入力される(初期はチェックが入っている)-->
        <%= f.label :payment_method,"クレジットカード",{value: :クレジットカード,style: "display: inline-block"} %><br>
         <!--input属性におけるvalueは入力コントロールにおける初期値-->
        <%= f.radio_button :payment_method, :銀行振込 %>
        <%= f.label :payment_method,"銀行振込",{value: :銀行振込,style: "display: inline-block"} %><br>

        <%= f.label :address,"お届け先",class: "font-weight-bold mt-3" %><br>

        <%= radio_button_tag :address_select,0,checked: "checked" %> <!--radio_button_tagはモデルとは独立した、ただその値を送りたいという時に使うrailsのタグ-->
        <%= f.label :address_select,"ご自身の住所" %><br>
        〒<%= current_customer.postal_code %><!--アソシエーションを組んでいるcustomerのカラム内の値を持ってくる,変数をコントローラーで作る-->
        <%= current_customer.address %><br>
        <%= current_customer.last_name %>
        <%= current_customer.first_name %>
        <br>

        <%= radio_button_tag :address_select,1 %>
        <%= f.label :address_select,"登録済住所から選択" %>
        <%= f.collection_select :address , current_customer.addresses, :id, :address , :include_blank => "選択してください" %>
        <!--f.collection_selectについて理解不足,プルダウンで選択肢の表示をしてくれる-->
        <br>

        <%= radio_button_tag :address_select,2 %>
        <%= f.label :address_select, "新しいお届け先" %>
        <br>

        <%= f.label :postal_code, "郵便番号(ハイフンなし)" ,class: "mr-2" %>
        <%= f.text_field :postal_code %>
        <br>

        <%= f.label :address, "住所",class: "mr-5" %>
        <%= f.text_field :address %>
        <br>

        <%= f.label :name, "宛名",class: "mr-5" %>
        <%= f.text_field :name %>
        <br>
        <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>