<h2>注文履歴詳細</h2>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
      <th>注文ステータス</th>
      <th></th>
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.created_at %></td>
      <td>
        <%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %>
      </td>
      <td><%= @order.payment_method %></td>
      <td><%= @order.status %></td>
    </tr>
  </tbody>
</table>
<div class = "container">
  <div class = "row">
    
    <div class = "col-md-6">
      <p>注文情報</p>
      <table class = 'table table-bordered'>
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= @order.total_price %></td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr></tr>
          <tr>
            <th>支払金額</th>
            <td><%= @order.total_payment %>円</td>
          </tr>
        </body>
      </table>
    </div>

    <div class = "col-md-4 offset-md-1">
      <p>請求情報</p>
      <table class = 'table table-bordered'>
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= @order.total_price %></td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr></tr>
          <tr>
            <th>支払金額</th>
            <td><%= @order.total_payment %>円</td>
          </tr>
        </body>
      </table>
    </div>
  </div>

  <p>注文内容</p>
  <table class = 'table table-bordered'>
    <tbody>
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
      <% @order.each do |order| %>
        <tr>
          <td><%= order.item.name %></td>
          <td><%= order.item.tannka %></td>
          <td><%= order.order_detail.quantity %></td>
          <td><%= order.item.syoukei %></td>
        </tr>
      <% end %>
    </body>
  </table>
</div>