<div class = "container">
  <h2>注文履歴詳細</h2>
  <div class = "row">
    <div class = "col-md-7">
      <h4>注文情報</h4>
      <table class='table table-bordered'>
        <tbody>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
              <%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <td>注文ステータス</td>
            <td><%= @order.status %></td>
          </tr><!--<th colspan="3"></th>-->
        </tbody>
      </table>
    </div>
    <div class = "col-md-3 offset-1">
      <h4>請求金額</h4>
      <table class = 'table table-bordered'>
        <tbody>
          <tr>
            <td>商品合計</td>
            <td>
              <% x = 0 %>
              <% @order.orders_details.each do |orders_detail| %><!--orderに紐づいたordersdetailsをeachでありったけ出す-->
              <% x += orders_detail.item.price * 1.08 * orders_detail.amount %>
              <% end %>
              <%= x.floor.to_s(:delimited) %>円
              <%# @sum = 0 %>
              <%# @order.orders_details.each do |orders_detail| %>
                <%# @sum += orders_detail.price * orders_detail.amount %><!--消費税計算済み-->
              <%# end %>
              <%#= @sum.floor.to_s(:delimited) %>
              <%#= @order.total_price %>
            </td>
          </tr>
          <tr>
            <td>送料</td>
            <td><%= @order.shipping.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td>ご請求金額</td>
            <td><%= @order.total_payment.to_s(:delimited) %>円</td>
          </tr>
        </body>
      </table>
    </div>
  </div>


  <h4>注文内容</h4>
  <table class = 'table table-bordered'>
    <thead>
      <tr>
        <td>商品</td>
        <td>単価(税込)</td>
        <td>個数</td>
        <td>小計</td>
      </tr>
    </thead>
    <tbody>

        <% @order.orders_details.each do |orders_detail| %>
        <tr>
          <td><%= orders_detail.item.name %></td>
          <td><%= (orders_detail.item.price * 1.08).floor.to_s(:delimited) %></td>
          <td><%= orders_detail.amount %></td>
          <td><%= (orders_detail.item.price * orders_detail.amount * 1.08).floor.to_s(:delimited) %></td>
        </tr>
        <% end %>

    </body>
  </table>
  <br>
  <br>
</div>


