<div class="container">
  <div class="row">
    <div class="col">
      <h2>商品一覧</h2>
    </div>
    <div class="col">
      <%= link_to new_admins_item_path do %>
        <%= image_tag 'plus.png' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @items.each do |item| %>
        <tbody>
          <tr>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= link_to admins_item_path(item.id) do %>
              <%= item.name %>
            <% end %>
          </td>
          <td>
            <%= item.price %>
          </td>
          <td>
            <%= item.genres.name %> <!--なんでジャンルになるんですかねぇ-->
          </td>
          <td>
            <% if item.is_active %>
              <p style="color: green;">販売中</p>
            <% else %>
              <p style="color: red;">販売停止中</p>
            <% end %>
          </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class="row">

  </div>
</div>