<div class="container">

  <%= render "search", genres:@genres %>

  <h2>商品一覧<span>全<%= @items_all.count %>件</span></h2>
  <div class="row" style="justify-content: space-between">
  <% @items.each do |item| %>
    <div class="items-index">
      <%= link_to item_path(item.id) do %>
        <%= attachment_image_tag item, :image, :fill, 250, 250, fallback: "no_image.jpeg" %>
      <% end %>
      <p><%= link_to item.name, item_path(item.id) %></p>
      <p>¥ <%= item.tax_price %></p>
    </div>
  <% end %>
  </div>
  <div class="row mx-auto">
    <%= paginate @items %>
  </div>

</div>