<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <main>
      <%= yield %>
    </main>
  </body>
  <footer>
    <div style="background-color: #c7b198;">
      <div class = "container">
        <div class = "row">
          <div class = "col-md-4 offset-2 mt-5 " >
            🍰🍓🍫🍪🎂 NAGANO CAKE🍦🍩🍊🍨🍇
            <div class = "border">
            <p>ながの CAKE ~長野県の小さな洋菓子店~</p>
            <p>〒386-0026  長野県上田市二の丸</p>
            <p>0268-22-1274  日本100名城 27</p>
            <p>上田駅から徒歩約10分</p>
            </diV>
          </div>
          <div class = "col-md-4 offset-2 mt-5" >
            <li><%= link_to "上田城について", "#" %></li>
            <li><%= link_to "おすすめの観光場所", "#" %></li>
            <li><%= link_to "当店で使用できる商品券", "#" %></li>
            <%= link_to "#",  data: {"turbolinks" => false}, class:"navbar-brand header-logo" do %>
              <%= image_tag 'arukuma1.png', :size => '100x100'  %>
            <% end %>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </footer>
</html>
