<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <% if customer_signed_in? %>
     <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
     <%= link_to "マイページ", customers_path %>
      
    <% else %>
      <%= link_to "sushi", new_customer_session_path %>
      <%= link_to "shisu", new_customer_registration_path %>
    <% end %>
   </header>
    
    <%= yield %>
  </body>
</html>
